# SSH keys
*.pem
*.pub
id_rsa
id_rsa.pub
yes
yes.pub

# Environment files
.env
.env.*

# Node
node_modules/
npm-debug.log*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log


backend/node_modules/
frontend/node_modules/
